This is my personal website. <br>
I work as a software developer + IT/networks consultant on a daily basis, after-hours I volunteer at <a href="http://www.hswro.org">Hackerspace Wrocław</a> and run my own small mechanical workshop.<br>
If you want to contact me - send me an e-mail at <b>mail@domain</b> or message me at Telegram/LinkedIn.
